force-app/main/default/flows/Low_Stock_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Low Stock Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Low Stock Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <decisions>
        <name>Is_Low_Stock</name>
        <label>Is Low Stock?</label>
        <locationX>176</locationX>
        <locationY>300</locationY>
        <defaultConnectorLabel>Stock OK</defaultConnectorLabel>
        <rules>
            <name>Low_Stock_Triggered</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Stock__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Minimum_Stock__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inventory_Manager_Role</targetReference>
            </connector>
            <label>Low Stock Triggered</label>
        </rules>
    </decisions>
    <recordCreates>
        <name>Create_Alert_Task</name>
        <label>Create Alert Task</label>
        <locationX>300</locationX>
        <locationY>500</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Product stock has fallen below the minimum stock level. Current Stock: {!$Record.Current_Stock__c}, Minimum Stock: {!$Record.Minimum_Stock__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Inventory_Manager.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Low Stock Alert: {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <connector>
            <targetReference>Send_Low_Stock_Email</targetReference>
        </connector>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <actionCalls>
        <name>Send_Low_Stock_Email</name>
        <label>Send Low Stock Email</label>
        <locationX>300</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Inventory_Manager.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Low Stock Alert: {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Hello, the stock level for product {!$Record.Name} has fallen below the minimum threshold. Current Stock: {!$Record.Current_Stock__c}, Minimum Stock: {!$Record.Minimum_Stock__c}. Please review and reorder.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <recordLookups>
        <name>Get_Inventory_Manager_Role</name>
        <label>Get Inventory Manager Role</label>
        <locationX>300</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Inventory_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventory_Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inventory_Manager</name>
        <label>Get Inventory Manager</label>
        <locationX>300</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Alert_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Inventory_Manager_Role.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Low_Stock</targetReference>
        </connector>
        <object>Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
