force-app/main/default/flows/Return_Request_Replacement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Return Request Replacement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Return Request Replacement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <formulas>
        <name>ReduceStockFormula</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!Get_Product.Current_Stock__c}, 0) - {!$Record.Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <recordCreates>
        <name>Create_Inventory_Transaction</name>
        <label>Create Inventory Transaction</label>
        <locationX>176</locationX>
        <locationY>450</locationY>
        <connector>
            <targetReference>Update_Return_Request_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <stringValue>Stock Out</stringValue>
            </value>
        </inputAssignments>

        <object>Inventory_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>176</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Product_Stock</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Stock</name>
        <label>Update Product Stock</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Create_Inventory_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Stock__c</field>
            <value>
                <elementReference>ReduceStockFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Return_Request_Status</name>
        <label>Update Return Request Status</label>
        <locationX>176</locationX>
        <locationY>550</locationY>
        <connector>
            <targetReference>Send_Replacement_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Replacement Sent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <actionCalls>
        <name>Send_Replacement_Email</name>
        <label>Send Replacement Email</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Replacement Sent for Return Request {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Hello {!$Record.Customer_Name__c}, we have approved and processed your return request. A replacement for product {!Get_Product.Name} has been shipped. Thank you!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Resolution_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Replacement</stringValue>
            </value>
        </filters>
        <object>Return_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
