force-app/main/default/flows/Return_Request_Repair.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Return Request Repair {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Return Request Repair</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <formulas>
        <name>IncreaseStockFormula</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!Get_Product.Current_Stock__c}, 0) + {!$Record.Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <recordCreates>
        <name>Create_Inventory_Transaction</name>
        <label>Create Inventory Transaction</label>
        <locationX>176</locationX>
        <locationY>450</locationY>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <stringValue>Adjustment</stringValue>
            </value>
        </inputAssignments>
        <object>Inventory_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>176</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product</name>
        <label>Update Product</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Create_Inventory_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Stock__c</field>
            <value>
                <elementReference>IncreaseStockFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Under Inspection</stringValue>
            </value>
        </inputAssignments>
        <object>Product__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Resolution_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Repair</stringValue>
            </value>
        </filters>
        <object>Return_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
