student_app/force-app/main/default/flows/Payment_Verification_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Check_Payment_Status</name>
        <label>Check Payment Status</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Status_Is_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewOrStatusChangedToPending</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Application__r.Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Admission_Executive_Role</targetReference>
            </connector>
            <label>Status is Pending</label>
        </rules>
        <rules>
            <name>Status_Is_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewOrStatusChangedToPaid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Application__r.Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_Status_to_Paid</targetReference>
            </connector>
            <label>Status is Paid</label>
        </rules>
    </decisions>
    <description>Assigns task to Admission Executive when payment is pending, and updates Application status to Paid when payment is paid.</description>
    <environments>Default</environments>
    <formulas>
        <name>Assignee_Id</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Exec_User_Id}), {!$Record.OwnerId}, {!Exec_User_Id})</expression>
    </formulas>
    <formulas>
        <name>IsNewOrStatusChangedToPaid</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record__Prior.Id}) || TEXT({!$Record.Payment_Status__c}) != TEXT({!$Record__Prior.Payment_Status__c})</expression>
    </formulas>
    <formulas>
        <name>IsNewOrStatusChangedToPending</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record__Prior.Id}) || TEXT({!$Record.Payment_Status__c}) != TEXT({!$Record__Prior.Payment_Status__c})</expression>
    </formulas>
    <interviewLabel>Payment Verification Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Verification Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREEFORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Verification_Task</name>
        <label>Create Verification Task</label>
        <locationX>50</locationX>
        <locationY>683</locationY>
        <connector>
            <targetReference>Update_Application_Status_to_Pending</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>A payment requires verification.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assignee_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Verify Payment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Student_Application__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Admission_Executive_Role</name>
        <label>Get Admission Executive Role</label>
        <locationX>50</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Admission_Executive_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admission_Executive</stringValue>
            </value>
        </filters>
        <object>UserRole</object>
        <outputAssignments>
            <assignToReference>Role_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Admission_Executive_User</name>
        <label>Get Admission Executive User</label>
        <locationX>50</locationX>
        <locationY>563</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Verification_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Role_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Exec_User_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_Status_to_Paid</name>
        <label>Update Application Status to Paid</label>
        <locationX>314</locationX>
        <locationY>443</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Student_Application__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>Student_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_Status_to_Pending</name>
        <label>Update Application Status to Pending</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Student_Application__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Status__c</field>
            <value>
                <stringValue>Payment Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Student_Application__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Payment_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <object>Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Exec_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Role_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
