inventory_app/force-app/main/default/flows/Sales_Order_Confirmed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Sales Order Confirmed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Order Confirmed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <customErrors>
        <name>Insufficient_Stock_Error</name>
        <label>Insufficient Stock Error</label>
        <locationX>500</locationX>
        <locationY>600</locationY>
        <customErrorMessages>
            <errorMessage>Insufficient Stock Available</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Stock</name>
        <label>Check Stock</label>
        <locationX>300</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Update_Product_Stock</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sufficient Stock</defaultConnectorLabel>
        <rules>
            <name>Insufficient_Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product.Current_Stock__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_SO_Items.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insufficient_Stock_Error</targetReference>
            </connector>
            <label>Insufficient Stock</label>
        </rules>
    </decisions>
    <formulas>
        <name>NewStockFormula</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!Get_Product.Current_Stock__c}, 0) - {!Loop_SO_Items.Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <loops>
        <name>Loop_SO_Items</name>
        <label>Loop SO Items</label>
        <locationX>176</locationX>
        <locationY>400</locationY>
        <collectionReference>Get_SO_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Product</targetReference>
        </nextValueConnector>
    </loops>
    <recordCreates>
        <name>Create_Inventory_Transaction</name>
        <label>Create Inventory Transaction</label>
        <locationX>300</locationX>
        <locationY>800</locationY>
        <connector>
            <targetReference>Loop_SO_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Loop_SO_Items.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Loop_SO_Items.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <stringValue>Stock Out</stringValue>
            </value>
        </inputAssignments>
        <object>Inventory_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>300</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Stock</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_SO_Items.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SO_Items</name>
        <label>Get SO Items</label>
        <locationX>176</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_SO_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Order_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Stock</name>
        <label>Update Product Stock</label>
        <locationX>300</locationX>
        <locationY>700</locationY>
        <connector>
            <targetReference>Create_Inventory_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_SO_Items.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Stock__c</field>
            <value>
                <elementReference>NewStockFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Product__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_SO_Items</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <object>Sales_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
